.navbar {
    box-shadow: 0px 1px 0px 0px #ecf0f1; /*#ecf0f1 Clouds*/
}

.bs-docs-sidebar .nav>li>a,
a {
    color: #27ae60; /*Nephritis*/
}

.navbar-nav li.active>a {
    box-shadow: 0px 1px 0px 0px #563d7c;
    color: #2980b9; /*Belize Hole*/
}

.bs-docs-sidebar .nav>.active>a{
    color: #2980b9; /*Belize Hole*/
}

.breadcrumb {
    border: 1px solid #95a5a6; /*#95a5a6 Concrete*/
    background-color:#ecf0f1; /*Clouds*/
}

html {
    /*This prevents scroolbar to affect the width*/
    overflow-y: scroll;
}

pre {
    background-color:#ecf0f1; /*Clouds*/
    border: 1px solid #95a5a6; /*#95a5a6 Concrete*/
}

.navbar-brand {
    padding-top: 5px;
}
