<div class="row-fluid">
    <div class="col-xs-12">
	{{ column00 | markdownify }}
    </div>
</div>
<div class="row-fluid">
    <div class="col-xs-6">
	{{ column10 | markdownify }}
    </div>
    <div class="col-xs-6">
	{{ column11 | markdownify }}
    </div>
</div>
<div class="row-fluid">
    <div class="col-xs-12">
	{{ column20 | markdownify }}
    </div>
</div>
<div class="row-fluid">
    <div class="col-xs-4">
	{{ column30 | markdownify }}
    </div>
    <div class="col-xs-4">
	{{ column31 | markdownify }}
    </div>
    <div class="col-xs-4">
	{{ column32 | markdownify }}
    </div>
</div>
<div class="row-fluid">
    <div class="col-xs-12"></div>
</div>
<div class="row-fluid">
    <div class="col-xs-4">
	{{ column40 | markdownify }}
    </div>
    <div class="col-xs-4">
	{{ column41 | markdownify }}
    </div>
    <div class="col-xs-4">
	{{ column42 | markdownify }}
    </div>
</div>
